h1,
h2,
h3,
hr {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

p {
    color: white;
    font-family: 'Courier Prime', Courier, monospace;
}
p::first-letter {
    font-size: 200%;
}
a {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: lightsalmon;
    font-weight: bold;
    font-style: oblique;
}

tr,
th,
td,
caption {
    color: white;
    font-family: 'Courier Prime', Courier, monospace;
    border: 1px solid whitesmoke;
}

li {
    color: white;
    font-family: 'Courier Prime', Courier, monospace;
}

header p::first-letter {
    font-size: 250%;
}

header {
    h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 150;
        font-size: 220%;
    }
}

footer {
    font-family: 'Courier Prime', Courier, monospace;
    font-size: 11px;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier Prime', Courier, monospace;
    border-collapse: collapse;
}

ol,
ul {
    width: 40%;
    margin: 0 auto;
}

body {
    background: black;
    min-height: 100vh;
    font-weight: 400;
    font-style: normal;
    text-align: center;

}

Form {
    font-family: 'Courier Prime', Courier, monospace;
    color: white;
}
.cinza {
    color: gray;
}